In [5]:
import pandas as pd

data = {
    "Name": ["Aman", "Saurav", "Karan", "Shubham", "Abhishek", "Missing", "Sameer"],
    "Age": [22, 23, None, 22, 25, 24, 26],
    "Marks": [85, None, 88, 90, 56, 72, None],
    "Subject": ["Math", "Physics", "Math", "Chemistry", "Math", "Physics", "Chemistry"]
}

df = pd.DataFrame(data)
print(df)

       Name   Age  Marks    Subject
0      Aman  22.0   85.0       Math
1    Saurav  23.0    NaN    Physics
2     Karan   NaN   88.0       Math
3   Shubham  22.0   90.0  Chemistry
4  Abhishek  25.0   56.0       Math
5   Missing  24.0   72.0    Physics
6    Sameer  26.0    NaN  Chemistry

In [6]:
# Analyze the logic for Exercise 5
# Technical Q1: Check why 'Marks' column has floats
print(df['Marks'])
print(df['Marks'].dtype)

# Technical Q2: Demonstrate inplace=True risk when dropping missing values
df_copy = df.copy()
df_copy.dropna(inplace=True)
print(df_copy)
print(df)

# Business Q: Check for missing or inconsistent values in 'Name' column
print(df['Name'])
print(df['Name'].isnull().sum())

0    85.0
1     NaN
2    88.0
3    90.0
4    56.0
5    72.0
6     NaN
Name: Marks, dtype: float64
float64
       Name   Age  Marks    Subject
0      Aman  22.0   85.0       Math
3   Shubham  22.0   90.0  Chemistry
4  Abhishek  25.0   56.0       Math
5   Missing  24.0   72.0    Physics
       Name   Age  Marks    Subject
0      Aman  22.0   85.0       Math
1    Saurav  23.0    NaN    Physics
2     Karan   NaN   88.0       Math
3   Shubham  22.0   90.0  Chemistry
4  Abhishek  25.0   56.0       Math
5   Missing  24.0   72.0    Physics
6    Sameer  26.0    NaN  Chemistry
0        Aman
1      Saurav
2       Karan
3     Shubham
4    Abhishek
5     Missing
6      Sameer
Name: Name, dtype: object
0