In [ ]:
import pandas as pd
import numpy as np

Series print

In [ ]:
s =pd.Series([10, 20, 30, 40, 50])
print(s) #Creating a Series from a list of values

Custom index

In [ ]:
s=pd.Series([10, 20, 30, 40, 50],index=['a', 'b', 'c', 'd', 'e'])
print(s) #Creating a Series with custom index labels

In [ ]:
print(s['a']) #Accessing a single element using its index label
# print(s[0]) #Accessing a single element using its integer position

Series from Dictionary

In [ ]:
data={"math":90,"Physics":80,"Chemistry":85}

marks=pd.Series(data) #Creating a Series from a dictionary

print(data)

print(marks)

DataFrame in pandas

In [ ]:
data={
    "Name":["Aman","Anmol","Anshul"],
    "Age":[20,21,22],
    "Marks":[90,80,85]
}

print(data) #Creating a DataFrame from a dictionary of lists

type(data)

In [ ]:
marks= pd.DataFrame(data)
print(marks)  #Pandas automatically adds a default index to the DataFrame, which starts from 0 and increments by 1 for each row.This is called a RangeIndex. It serves as a unique identifier for each row in the DataFrame and allows for easy access and manipulation of the data.

In [ ]:
marks=pd.DataFrame(data,index=['Student1','Student2','Student3'])

print(marks) #Creating a DataFrame with custom index labels

In [ ]:
marks.set_index("Name", inplace=True) #we are setting inplace=True, which means that the changes will be made directly to the existing DataFrame rather than creating a new one. If inplace=False (the default), a new DataFrame with the updated index would be returned, and the original DataFrame would remain unchanged.
marks.index.name = None  # Remove the index name to avoid displaying it as a heading
print(marks) #Now the 'Name' column is the index of the DataFrame, and the default RangeIndex has been replaced by the custom index labels.

In [ ]:
df=pd.DataFrame({
    "Name":["Aman","Anmol","Anshul"],
    "Age":[20,21,22],
    "Marks":[90,80,85]
})

print(df) #Creating a new DataFrame to fetch data from it in different ways

In [ ]:
df.head() #Fetching the first 5 rows of the DataFrame using head() method

In [ ]:
df.tail() #Fetching the last 5 rows of the DataFrame using tail() method

#As the DataFrame has only 3 rows, both head() and tail() will return the entire DataFrame.

In [ ]:
df.tail(2) #Fetching the last 2 rows of the DataFrame using tail() method

In [ ]:
df.head(2) #Fetching the first 2 rows of the DataFrame

In [ ]:
print(df.shape,"\n") #Getting the shape of the DataFrame (number of rows and columns)
print(df.columns,"\n") #Getting the column names of the DataFrame
print(df.info()) #Getting a concise summary of the DataFrame, including data types and non-null counts

In [ ]:
df.describe() #Getting summary statistics of the DataFrame, including count, mean, std, min, 25th percentile, 50th percentile (median), 75th percentile, and max for each numeric column.

Selecting the Data

In [ ]:
df[["Name"]] #Accessing a single column of the DataFrame using column name

In [ ]:
df[["Name","Marks"]] #Accessing multiple columns of the DataFrame using a list of column names

Filtering in Pandas

In [ ]:
df[df["Marks"]>80] #Filtering the DataFrame to get rows where the 'Marks' column has values greater than 85

In [ ]:
#Multiple condtions
df[(df["Marks"]>80) & (df["Age"]<22)] #Filtering the DataFrame to get rows where 'Marks' is greater than 80 AND 'Age' is less than 25

Sorting + Value Counts

In [ ]:
df.sort_values("Marks")

In [ ]:
df.sort_values(by="Marks", ascending=False) #Sorting the DataFrame by the 'Marks' column in descending order

In [ ]:
df["Age"].value_counts() #Getting the count of unique values in the 'Age' column

Handling Missing values

In [ ]:
#updating the dataset with null values

df=pd.DataFrame({
    "Name":["Aman","saurav","Karan","shubham",None,"sameer"],
    "Age":[22,23,None,22,25,26],
    "Marks":[85,None,88,90,56,None]
})

df #Creating a new DataFrame with some null values

In [ ]:
df.isnull() #Checking for null values in the DataFrame, returns a DataFrame of the same shape with boolean values indicating the presence of null values

In [ ]:
df.isnull().sum() #Getting the count of null values in each column of the DataFrame

In [ ]:
df.dropna() #Dropping rows with any null values from the DataFrame, returns a new DataFrame without the rows containing null values

In [ ]:
df

In [ ]:
cleaned_df = df.dropna() #Storing the cleaned DataFrame in a new variable
cleaned_df